.section-1{
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/silvia-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact{
    display: flex;
    width: 800px;
    height: 700px;
    justify-content: center;
    
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.767);

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form-class{
    display: flex;
    flex-direction: column;
    gap:1em;

    justify-content: center;
    align-items: baseline;
    font-size: 20px;
    width: 450px;

    outline: none;

}

.form-class label{
    text-align: initial;
}

.form-class input{
    width: 100%;
    height: 3em;
    background-color: transparent;
    border:0;
    border-bottom: 1px solid var(--color-primary);
    font-size:20px;
}
.form-class input:focus{
    transform: scale(1.01);
    background-color: white;
    border-bottom: 2px solid var(--color-primary);
    border-radius:5px;

}

input:focus{
    outline: none;

}

textarea:focus{
    outline: none;
}

.form-class textarea{
    width: 100%;
    height: 10em;
    background-color: transparent;
    border:0;
    border-bottom: 1px solid var(--color-primary);
    font-size: 20px;
}
.form-class textarea:focus{
    background-color: white;
    outline: none;
    border-bottom: 2px solid var(--color-primary);
    border-radius:5px;
}

.form-class button{
    width: 100%;
    height: 4em;
    border-radius: 5px;
    background-color: var(--color-primary);
    color:white;
    border:0;
    font-size: 20px;
}

.form-class button:hover{
    transform: scale(1.05);
    background-color: white;
    color:var(--color-primary);

}

#main-title{
    font-size: 24px;
    font-weight: bolder;
    color:var(--color-primary);
    padding:2em;
}