header {
  display: flex;
  align-items: center;
  gap: 45em;
  justify-content: space-evenly;
  padding: 1em;
  max-height: 3em;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 15em;

  font-size: 28px;

  color: var(--color-primary);
}
a:visited {
  color: inherit; /* Ou defina uma cor específica */
}

a {
  text-decoration: none;
}

.logo img {
  width: 2em;
  height: 2em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

ul a {
  cursor: pointer;
}

ul:hover {
  transition: 0.3s ease-in-out all;
  transform: scale(1.1);
  color: var(--color-primary);
}

#first-section {
  display: flex;
  justify-content: center;
}

.carrossel {
  border-radius: 15px;
  margin: 5em;
  width: 160vh;
  height: 80vh;
  background-image: url("../imgs/corrossel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#carrossel-inside {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--color-secondary);
  font-size: 35px;
  font-weight: bolder;

  gap: 2em;
  border-radius: 15px;
}

#carrossel-inside button {
  max-height: 8em;
  height: 5em;
  max-width: 12em;
  width: 8em;
  font-size: 20px;

  border-radius: 15px;
  border: 0;

  color: var(--color-secondary);
  background-color: var(--color-accent);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#carrossel-inside button:hover{
    cursor:pointer;
    
    transform: scale(1.15);
    transition: 0.3s ease-in-out all;

    color:var(--color-accent);
    background-color: rgba(0, 0, 0, 0.22);
    border:7px solid var(--color-accent);
}

span {
  color: var(--color-accent);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-bottom: 1px solid var(--color-accent);
}

#main-posted-cars{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
